@model MainMidlandsFly.Models.AircraftMaintenanceModel

@{
    ViewData["Title"] = "Edit";
}

<br />
<h2>Edit</h2>
<br />
<h4>Aircraft Maintenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                @*<label asp-for="AircraftId" type="hidden"class="control-label"></label>*@
                <input asp-for="AircraftId" type="hidden" class="form-control" />
                <span asp-validation-for="AircraftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Ground_Crew_Id" type="hidden" class="control-label"></label>*@
                <input asp-for="Ground_Crew_Id" type="hidden" class="form-control" />
                <span asp-validation-for="Ground_Crew_Id"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftRegNum" class="control-label"></label>
                <br />
                @Html.TextBoxFor(model => model.AircraftRegNum, new { disabled = "true" })
                @*@Html.EditorFor(model => model.AircraftRegNum)*@
                <span asp-validation-for="AircraftRegNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrewMemberName" class="control-label"></label>
                <br />
                @Html.TextBoxFor(model => model.CrewMemberName, new { disabled = "true" })
                @*@Html.EditorFor(model => model.CrewMemberName)*@
                <span asp-validation-for="CrewMemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maintenance_History" class="control-label"></label>
                <br />
                @Html.EditorFor(model => model.Maintenance_History)
                <span asp-validation-for="Maintenance_History" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <br />
                @Html.EditorFor(model => model.Date, new { disabled = "true" })
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job_Status" class="control-label"></label>
                <br />
                @*@Html.EditorFor(model => model.Job_Status)*@

                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Completed",
                        Value = "Completed"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Pending",
                        Value = "Pending",
                       
                    });
                  
                }

                @Html.DropDownListFor(model => model.Job_Status, listItems, "-- Select Status --")

                @*<input asp-for="Job_Status" class="form-control" />*@
                @*<span asp-validation-for="Job_Status" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
