@model IEnumerable<MainMidlandsFly.Models.AircraftMaintenanceModel>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Aircraft Maintenance</h2>
<br />

<table class="table">
    <thead>
        <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.AircraftRegNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrewMemberName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maintenance_History)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job_Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.AircraftRegNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrewMemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maintenance_History)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
