@model IEnumerable<MainMidlandsFly.Models.Passenger_Aircraft_Crew_Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AircraftId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CabinCrewId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CabinCrewId2)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.FlightCrewId1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightCrewId2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightCrewId3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flying_Hours)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AircraftId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CabinCrewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CabinCrewId2)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FlightCrewId1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightCrewId2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightCrewId3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flying_Hours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
